{% extends 'base.html' %}

{% block header %}
    <title>Admin Login</title>
{% endblock %}
{% block body %}
    <table>
    <tr>
        <th>اسم</th>
        <th>توضیحات</th>
        <th>قیمت</th>
        <th>فغال</th>
        <th>ویرایش</th>
    </tr>
    </table>

    {% for p in product %}
        <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.description}}</td>
        <td>{{ p.price}}</td>
        <td>{{ p.active}}</td>
        <td><a href="/admin/dashboard/product/edit-product/{{ p.id }}" >ویرایش</a></td>
            <br>

        </tr>
    {% endfor %}

    <form action="#" method="post">
        <input type="text" name="name" placeholder="نام محصول"><br>
        <textarea name="description" placeholder="توضیحات"></textarea><br>
        <input type="text" name="price" placeholder="نام محصول"><br>
        <label>فعال: </label><input type="checkbox" name="active"><br>

        <input type="submit"><br>

    </form>

{% endblock %}